.reviews .container {
  color: #f9fcfdff;
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  padding-block: 32px;
  flex-direction: column;
  padding-inline: 20px;
  justify-content: center;
  background-color: #2a2c3e;
  text-align: center;
}
.reviews .header {
  display: grid;
  gap: 20px;
  letter-spacing: 1px;
}
.reviews .header .title {
  font: bold 24px ITCAvantGardeGothic;
  margin: 0;
}
.reviews .header .subtitle {
  font: 15px ITCAvantGardeGothic;
  margin: 0;
}
.reviews .reviews-2 {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  overflow-x: hidden;
}
.reviews .review {
  width: 100%;
  padding-bottom: 20px;
}
.reviews .review img {
  width: 100%;
  height: 360px;
  border-radius: 10px;
  object-fit: cover;
}
.review .nanimg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: min-content;
  padding-block: 14px;
  margin-top: 12px;
}
.review .nanimg .circle {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #fff;
  display: block;
}
.review .name {
  font: 600 20px ITCAvantGardePro;
  margin: 0;
}
.review .lost {
  font: 600 24px ITCAvantGardePro;
  margin: 0;
}
.review .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.review .comment {
  font: 16px ITCAvantGardePro;
  line-height: 28px;
  letter-spacing: 1;
}

.swiper-button-next {
  display: none;
  z-index: 50;
}
.swiper-button-prev {
  display: none;
  z-index: 50;
}
.reviews .swiper {
  min-height: 700px;
  max-height: max-content;
  width: 100%;
}
.swiper-button-prev,
.swiper-button-next {
  color: #382757ff;
  width: 35px;
  height: 35px;
  padding: 5%;
  background-color: #c9cace;
  border-radius: 100%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #c9cace;
}
.frist-reviews {
  text-align: center;
}

.frist-reviews .name {
  font-size: 18px;
}
.frist-reviews .comment {
  font-size: 14px;
}
.frist-reviews .name {
  padding-block: 12px;
}
.review-slide {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  color: #382757;
}
/* .swiper-slide{ margin: 0;} */
@media (min-width: 720px) {
  .swiper-wrapper {
    display: flex;
    gap: 30px;
  }
  .reviews .container {
    padding: 60px 20px 0px 20px;
  }
  .reviews .section-title,
  .section-subtitle {
    margin: 0;
    max-width: 45%;
    margin-inline: auto;
    font-weight: normal;
  }

  .swiper-button-next {
    display: block;
  }
  .swiper-button-prev {
    display: block;
  }

  /* .reviews .reviews-wrapper.first:nth-child(1) {
    margin-left: 350px;
  } */
}
