.types {
  color: #f9fcfdff;
  display: flex;
  gap: 30px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #292b3c;
}
.types .illustrations {
  display: grid;
  gap: 16px;
  width: 100%;
}
.types .images {
  display: flex;
  width: 100%;
  align-items: center;
}
.types .images img {
  width: 50%;
  object-fit: contain;
  height: auto;
}
.types .description {
  color: #9496ad;
  font: 12px ITCAvantGardeGothic, sans-serif;
  text-align: center;
  margin: 0;
  letter-spacing: 1;
}
.types .section-title {
  margin-top: 0;
}
.types .texts {
  padding: 0 20px;
}
.types .texts .items-group {
  display: flex;
  row-gap: 40px;
  position: relative;
  width: 100%;
  column-gap: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.types .texts .items-group .item {
  column-gap: 16px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
.types .texts .item-texts {
  display: grid;
  row-gap: 12px;
  letter-spacing: 1px;
}
.types .texts .items-group .item-title {
  font: bold 18px ITCAvantGardeGothic, sans-serif;
  margin: 0;
}
.types .texts .items-group .details {
  font: 14px ITCAvantGardeGothic, sans-serif;
  margin: 0;
  line-height: 20px;
}
.types .texts .item-icon {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 641px) {
  .types {
    color: #f9fcfdff;
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #292b3c;
  }
  .types .illustrations {
    display: grid;
    gap: 16px;
    width: 100%;
  }
  .types .images {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .types .images img {
    height: 100%;
  }
  .types .description {
    color: #9496ad;
    font: 12px ITCAvantGardeGothic, sans-serif;
    text-align: center;
    margin: 0;
    letter-spacing: 1;
  }
  .types .section-title {
    margin-top: 0;
  }
  .types .texts {
    padding: 0 20px;
  }
  .types .items-group-title {
    font-size: 31px;
    font-family: ITCAvantGardeGothic, sans-serif;
  }
  .types .texts .items-group {
    row-gap: 60px;
  }
  .types .texts .items-group .item {
    column-gap: 30px;
  }
  .types .texts .items-group .item-title {
    font-size: 25px;
    font-family: bold ITCAvantGardeGothic, sans-serif;
    letter-spacing: 2.5;
    line-height: 40px;
  }
  .types .texts .items-group .details {
    font-size: 18px;
    font-family: ITCAvantGardeGothic, sans-serif;
    letter-spacing: 2.5;
    line-height: 30px;
  }
}
@media (min-width: 1024px) {
  .types .texts .items-group {
    flex-direction: row;
  }

  .types .item {
    width: 30%;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    flex-basis:auto;
  }
  .types .texts .image-bg {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .types .texts .image-bg img {
    height: 70px;
    width: 70px;
  }
}
